/* Table-like layout */
html {
    margin: 0px;
    height: 100%;
    width: 100%;
}
body {
    height: 97%;
    width: 99%;
    /* CSS3 */
    height: 97vh;
}
/* Code section */
#jsCode {
    border: 1px solid #c0c0c0;
    height: 70%;
    min-height: 8em;
    width: 100%;
    /* CSS3 */
    height: 70vh;
}
/* Constrols section */
#jsControls {
    vertical-align: middle;
    height: 5%;
    min-height: 1em;
    padding-top: 1%;
    width: 100%;
    /* CSS3 */
    height: 5vh;
    padding-top: 1vh;
}
/* "Execute" button */
#jsExecute {
    margin-right: 1em;
}
/* "Fine print" */
.fine-print {
    font-size: small;
    font-style: italic;
}
/* Iconified Text */
.iconify {
    border-radius: 0.5em;
    box-shadow: 1px 2px 3px 1px #999 inset;
    cursor: pointer;
    display: table;
    float: right;
    font-family: "Segoe UI Symbol", "DejaVu Sans Mono", sans-serif;
    font-weight: bold;
    margin: 2px;
    padding-top: 1px;
    text-align: center;
    vertical-align: top;
    width: 1.4em;
}
/* Help and settings sections */
#helpContent, #settingsContent {
    border: 2px solid;
    display: none;
    padding: 1em;
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    width: 50%;
    z-index: 999;
}
#settingsContent label {
    display: inline-block;
    min-width: 8em;
}
/* Console section */
#jsConsole {
    border: 1px solid #000000;
    height: 20%;
    height: 20vh; /* CSS3 */
    min-height: 8em;
    overflow: auto;
    width: 100%;
}
/* Console messages */
#jsConsole pre {
    margin-left: 20px;
}
/* Default console class */
.console {
    background-color: #000000;
    color: #c0c0c0;
}
/* Debug messages */
#jsConsole .debug {
}
/* Error messages */
#jsConsole .error {
    background-image: url('../img/error.png');
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-left: 20px;
    color: #FF6666;
}
/* Eval messages */
#jsConsole .eval {
    font-style: italic;
    font-weight: bold;
}
/* Info messages */
#jsConsole .info {
}
/* Log messages */
#jsConsole .log {
}
/* Warning messages */
#jsConsole .warning {
    background-image: url('../img/warning.png');
    background-repeat: no-repeat;
    margin-left: -20px;
    padding-left: 20px;
    color: #FFFF66;
}
